@media (max-width: 1200px) {

    .about,
    .faq,
    .benefits,
    .subscribe,
    .history-company,
    .quote,
    .staff,
    .benefits-company,
    .contacts-form {
        margin-top: 28px;
    }

    .head-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: #201C44;
    }

    .head-block p {
        line-height: 160%;
        font-weight: 500;
        font-size: 14px;
    }

    .head-block h2 {
        line-height: 160%;
        font-weight: 500;
        font-size: 32px;
    }

    .about .wrapper .first img {
        width: 500px;
    }

    .about p {
        font-size: 15px;
    }

    .about .wrapper {
        align-items: center;
        padding: 0 20px;
    }

    .about .wrapper .second {
        width: 60%;
    }

    .about .action-button {
        width: 100%;
        max-width: 100%;
    }

    .benefits .wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .benefits .icon-boxes {
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }

    .benefits hr {
        height: 55px;
    }

    .faq .wrapper {
        padding: 0 20px;
    }

    .faq-items {
        gap: 20px;
        width: 80%;
    }

    .faq-item .question {
        max-width: 600px;

    }

    .question p {
        font-size: 18px;
    }

    .faq-item-open .answer {
        width: 95%;
    }

    .subscribe .wrapper {
        text-align: center;
    }

    .subscribe form.form-subscribe {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .subscribe .custom-input {
        width: 90%;
        max-width: 550px;
    }

    .subscribe .action-button {
        width: 90%;
        max-width: 550px;
    }

    header .menu {
        display: none;
    }

    header .hamburger {
        display: flex;
    }

    .menu-burger.active {
        display: flex;
    }

    footer .wrapper {
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: center;
    }

    footer .column-left {
        align-items: center;
    }

    footer .column-left a img {
        max-width: 180px;
    }

    footer .column-left .info {
        font-size: 13px;
    }

    footer .column-center {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .extra--footer .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .extra--footer .dev {
        text-align: center;
        font-size: 11px;
    }

    .extra--footer a {
        font-size: 13px;
    }

    .banner .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .banner .first {
        text-align: center;
        gap: 25px;
    }

    .banner .first .head {
        font-size: 42px;
    }

    .banner .first .info {
        font-size: 16px;
        max-width: 100%;
    }

    .banner .buttons {
        align-items: center;
        gap: 15px;
        justify-content: center;
    }


    .banner .action-button {
        max-width: 100%;
        width: 90%;
        font-size: 14px;
        padding: 0 12px;
    }

    .banner .extra-button {
        width: 45px;
        height: 45px;
    }

    .banner .first .buttons p {
        font-size: 14px;
    }

    .banner .second img {
        display: none;
    }

    .quote .wrapper {
        max-width: 850px;
    }

    .history-company .wrapper,
    .benefits-company .wrapper,
    .contacts-form .wrapper,
    .law .wrapper,
    .choice-login .wrapper,
    .auth .wrapper {
        margin: 16px;
    }

    .benefits-company .items {
        grid-template-columns: repeat(auto-fill, minmax(290px, max-content));
    }

    .choice-login .choice a {
        max-width: 400px;
    }

}

@media (max-width: 768px) {
    .about .wrapper {
        padding: 0 20px;
    }

    .menu-burger {
        justify-content: flex-start;
        padding-top: 100px;
    }

    .menu-burger li {
        width: 100%;
        padding: 1rem;
        font-size: 18px;
        background: none;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    .menu-burger li:hover {
        background-color: #6E76C1;
        color: #6E76C1;
    }

    .about .wrapper .first img {
        max-width: 320px;
    }

    .faq .wrapper {
        padding: 0 20px;
    }

    .faq-items {
        gap: 20px;
        width: 80%;
    }

    .faq-item .question {
        max-width: 500px;

    }

    .faq-item-open {
        gap: 0px;
    }

    .faq-item-open .answer {
        width: 90%;
    }

    .quote .wrapper {
        max-width: 650px;
    }

    .action-button {
        font-size: 16px;
        padding: 10px 20px;
    }

    header {
        margin-bottom: 14px;
    }

    header a img {
        max-width: 150px;
    }

    header .login-button {
        max-width: 160px;
        height: 45px;
        font-size: 14px;
        padding: 0 12px;
    }

    footer .wrapper {
        gap: 20px;
    }

    footer .column-left {
        text-align: center;
    }

    footer .column-left .social {
        justify-content: center;
    }

    footer .column-center {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    footer .column-center .column {
        align-items: center;
        text-align: center;
    }

    footer .column-center .column .column-info a {
        font-size: 13px;
    }

    .extra--footer .wrapper {
        padding: 15px 10px;
    }

    .extra--footer .dev {
        font-size: 10px;
    }

    .extra--footer a {
        font-size: 12px;
        text-align: center;
    }

    .banner .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .banner .first {
        text-align: center;
        gap: 20px;
    }

    .banner .second img {
        display: none;
    }

    .banner .action-button {
        max-width: 100%;
        font-size: 14px;
        padding: 0 12px;
    }

    .banner .extra-button {
        width: 40px;
        height: 40px;
    }

    .banner .first .info {
        font-size: 16px;
        max-width: 100%;
    }

    .banner .buttons {
        justify-content: center;
    }

    .banner .buttons p {
        font-size: 14px;
    }

    .contacts-form {
        width: 100%;
        margin: 28px 0;
    }

    .contacts-form .wrapper {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .contacts-form .contact-socials {
        display: none;
    }

    .contacts-form .contact-ways {
        flex-direction: row;
        justify-content: center;
    }

    .contacts-form .first {
        gap: 15px;
    }

    .contacts-form .first .head-block {
        text-align: center;
    }

    .choice-login .choice a {
        max-width: 360px;
    }

    .auth,
    .choice-login {
        margin-top: 28px;
        margin-bottom: 28px;
    }

    .auth .second {
        display: none;
    }

    .auth .first {
        max-width: 100%;
    }

    .slide .position {
        font-size: 15px;
    }

    .form-subscribe .custom-input {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header .auth-button {
        display: none;
    }

    .banner .buttons {
        flex-direction: column;
    }

    .about .wrapper .second .list-info {
        gap: 8px;
    }

    .faq-item .question p {
        font-size: 18px;
        line-height: 22px;
    }

    .action-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    header a img {
        max-width: 140px;
    }

    header a img {
        max-width: 140px;
    }

    header .login-button {
        display: none;
    }

    header .login-button-phone {
        display: flex;
        max-width: 126px;
        height: 40px;
        font-size: 12px;
        padding: 0 8px;
    }

    .menu-burger {
        justify-content: flex-start;
        padding-top: 100px;
    }

    .menu-burger li {
        width: 100%;
        padding: 1rem;
        font-size: 18px;
        background: none;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    .menu-burger li:hover {
        background-color: #6E76C1;
        color: #6E76C1;
    }

    footer {
        padding: 20px;
    }

    footer .column-left .info {
        font-size: 12px;
        line-height: 1.4;
    }

    footer .column-left .social img {
        width: 20px;
        height: 20px;
    }

    footer .column-center .column .title {
        font-size: 14px;
    }

    footer .column-center .column .column-info a {
        font-size: 12px;
        line-height: 1.4;
    }

    .extra--footer .wrapper {
        gap: 8px;
        padding: 12px 5px;
    }

    .extra--footer .dev {
        font-size: 9px;
    }

    .extra--footer a {
        font-size: 11px;
    }

    .about .wrapper .first {
        display: none;
    }

    .about .wrapper .second {
        width: 100%;
    }

    .faq-item .question {
        max-width: 230px;
    }

    .faq-item .question img {
        width: 60px;
    }

    .faq-item .question p {
        font-size: 14px;
        line-height: 22px;
    }

    .faq-item-open .answer {
        font-size: 14px;
    }

    .history-company .items {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    .quote .wrapper {
        max-width: 350px;
    }

    .quote .text {
        color: #201C44;
        font-size: 28px;
    }

    .slider-container {
        overflow: hidden;
        width: 100%;
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        flex: 0 0 25%;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slide .position {
        display: none;
    }

    .slide .name {
        font-size: 14px;
    }

    .contacts-form .contact-ways {
        flex-direction: column;
        justify-content: center;
    }

    form .form-row {
        flex-wrap: wrap;
        gap: 14px;
    }

    .choice-login .wrapper a {
        color: #201C44;
        font-size: 16px;
    }

    a .active {
        color: #6E76C1;
        font-size: 18px;
        font-weight: 600;
        font-style: italic;
    }

    .choice-login .choice {
        flex-direction: column;
        gap: 15px;
    }

    .auth,
    .choice-login {
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .head-block p {
        line-height: 160%;
        font-weight: 500;
        font-size: 12px;
    }

    .head-block h2 {
        line-height: 160%;
        font-weight: 500;
        font-size: 23px;
    }

    .auth .head-block h2 {
        font-size: 23px;
    }

    .faq .wrapper {
        gap: 22px;
    }

    .subscribe .wrapper {
        gap: 22px;
        padding-top: 50px;
        height: 400px;
    }

    .auth a {
        font-size: 14px;
        text-align: center;
    }
}
